*{
margin: 0px;
padding: 0px;
}
:root{
	--cor_fundo: #000000;
	--cor_fundo1: #222634;
	--cor_texto: #FFFFFF;
	--cor_botao: #00FF7A;
	--fundo_form: #9B9B9B;
}
header{
	background-color: var(--cor_fundo);
	padding: 20px 10px;
	text-align: center;
}
#inicio{
	background-color: var(--cor_fundo);
	height: 900px;
}
.cont{
	display: grid;
	grid-template-areas:
	"colt_esq colt_dir";
	grid-template-columns: 720px 720px;
}
.coluna_esq{
	color: var(--cor_texto);
	grid-area: colt_esq;
	margin: 10px;
	font-family:'Inter';
	justify-items: center;
}

.titulo{
	font-family: 'Inter';
	font-weight: 900;
	font-size: 28px;
	text-align: center;
}
.txt_obs {
	text-align: center;
}
.img_devflix{

}
.botao_combo{
	display: block;
	margin: 10px 60px;
	background: var(--cor_botao);
	color: var(--cor_texto);
	text-decoration: none;
	border-radius: 8px;
	padding: 16px;
	font-family: 'Inter';
	font-size: 16px;
}
.botao_dev{
	display: block;
	background: transparent;
	color: var(--cor_texto);
	border: 2px solid #FFFFFF;
	text-decoration: none;
	border-radius: 8px;
	padding: 16px;
	margin: 0px 60px;
	font-family: 'Inter';
	font-size: 16px;
}
.bk_quarteto{
	background-image: url(../img/bk_quarteto.jpg);
	background-repeat: no-repeat;
}
#assista{
	background-color: var(--cor_fundo1);
	height: 900px;
}
.img{
	margin: 300px 200px;
	width: 500px;
}

.coluna_dir{
	color: var(--cor_texto);
	grid-area: colt_dir;	
	margin: 10px;
	font-family:'Inter';
	margin: auto;

}
.titulo1{
	font-family: 'Inter';
	font-weight: 900;
	font-size: 28px;
	text-align: left;
}
#part3{
	background-color: var(--cor_fundo);
	height: 900px;
	text-align: center;
}
#baixe{
	background-color: var(--cor_fundo1);
	height: 900px;
}

.cont1{
	display: grid;
	grid-template-areas:
	"colt_esq colt_dir";
	grid-template-columns: 720px 720px;
	width: 1440px;
	height: 900px;
	margin: 0 auto;
}

.coluna_esq1{
	color: var(--cor_texto);
	grid-area: colt_esq;	
	font-family:'Inter';
	margin: auto 0;	
}
.coluna_dir1{
	color: var(--cor_texto);
	grid-area: colt_dir;
	font-family:'Inter';
	margin: auto 0;
}
#dispositivos{
	background-color: var(--cor_fundo);
	height: 900px;
	text-align: center;
}
.cont2{
	display: grid;
	grid-template-areas:
	"colt_esq2 colt_cen2 colt_dir2";
	grid-template-columns: 480px 480px 480px;
	height: 900px;
	margin: 0 auto;
}
.coluna_dir2{
	color: var(--cor_texto);
	grid-area: colt_dir2;
	font-family:'Inter';
	margin: auto;
}
.coluna_cen2{
	color: var(--cor_texto);
	grid-area: colt_cen2;
	font-family:'Inter';
	margin: auto;
}
.coluna_esq2{
	color: var(--cor_texto);
	grid-area: colt_esq2;
	font-family:'Inter';
	margin: auto;
}
.titulo2{
	text-align: center;
	font-family: 'Inter';
}
#contado{
	background-color: var(--cor_fundo1);
	height: 600px;
	text-align: center;
	padding-top: 150px;
}
.titulo3{
	font-family: 'Inter';
	font-weight: 900;
	font-size: 28px;
	text-align: center;
	color: var(--cor_texto);
}
.control_form{
	text-align: center;
	background-color: var(--fundo_form);
	color: var(--cor_texto);
	border: 1px solid var(--cor_texto);
	border-radius: 10px;
	font-size: 10px;
	margin: 10px;
	padding: 10px;
	width: 500px;
}
.button_form{
	background-color: var(--cor_botao);
	color: var(--cor_texto);
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	display: block;
	width: 520px;
	margin: 0 auto;
	font-size: 16px;
	border: 2px solid transparent;
}
.button_form:hover{
	background-color: transparent;
	color: var(--cor_texto);
	border: 2px solid var(--cor_texto);
}
footer{
	background-color: var(--cor_fundo1);
	color: var(--cor_texto);
	padding: 20px 10px;
	text-align: center;